             /*--============Font Poppins weght-500 start link
                                   =================================-*/
<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
</style>
/*-==================font Poppins end link
               =============================================-*/


     /*-==================Header Navigation style
                          =====================================*/          

*{
  margin: 0%;
}

body{
    background-color: #2D25A0;
}
nav{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 500;
    margin: 85px;
    margin-top: 30px;
    
}

nav a{
    text-decoration: none;
    color: white;
    margin: 15px;
    font-family: 'Poppins', sans-serif;
}
.login-button{
    background-color: #E02C6D;
    padding: 10px 24px;
}


/*================== Header Section style Copa America 2021
                    ================================*/

.cupa-america-football{
 width: 100%;
 padding-left: 100px;
                       
                       
                    
}
.header-section{
  display: flex;
}
 .cupa-america-football img{
     width:90%;
    height: 438px;
                      
}
.font-big{
    font-size:  64px;
    font-weight: 700;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    width: 80%;
                    }
.link-button{
     text-decoration: none;
    color: white;
}
.link-button:hover{background-image: linear-gradient(#0b73fc,rgb(0, 247, 255));

}
.buttto-text{
    margin: 5px;
}

                   /*-==================Header Navigation style End
                                          =====================================*/    
                                          
                                          
                               /*------------===================---------------/
                                                  Main style
                               /-------------=====================--------------*/


main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
   
}
.conteinar{
    background-color: #FFFFFF;
    width: 1070px;
    padding: 30px;
    font-size: 18px;
    margin-top: 21px;
    border-radius: 5px;
    margin-bottom: 51px;
    

}                                         /*------------===================---------------/
                                                              Main style
                                        /*-------------=====================--------------*/
                                        


                       /*------------============---------------/
                                plyer 0f legend style
                                /---------=============------------------*/
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 5px;
    grid-row-gap: 20px;
   

}
.player{
    box-shadow: 0px 0px 40px rgba(0,0,0,0.15);
    padding: 15px;
    width: 300px;
}
.player .player-image img{
    width: 300px;
    height: 256px;
}
   

                           /*==================All highlight copas 
                                               ================================*/
            
.head-container{
    display: flex;
}     
}  
.highlight{ 
    width: 100%;
   padding-bottom: 100px;
   padding-top: 4%;
   box-shadow: azure;
}

.highlight img{
 width: 547px;
height: 417px;
padding-top: 30px ;
padding-left: 20%;
}
                           
.box-title{
padding-top: 5%;
}
.font-bold{
font-size: 30px;
font-family: 'Poppins', sans-serif;
 width: 469px;
height: 120px;
}
.title-padding{
                             
position: static;
 width: 400px;
height: 100px;
} 
                           
                             /* :::::::::::::::all hightlight end
                                                            ::::::::::::::::::::: 


                            /*=================All Euros highlight start
                                          ===========================================*/

 .Euro-cup{
    display: flex;
    margin-bottom: 150px;
    padding: 10px;
    margin-left: 5px;
    margin-top: 30px;

}

.base-section{
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
  
}
.font-size1{

    font-size: 50px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}
.font-size2{
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}
.half-width img{
    width: 300px;
   
}
.Article-section{
    color: green;
    
}
.Article-section-2{
    color: crimson;
}
.link-button1{
    text-decoration: none;
    background-color: blueviolet;
    color: white;
    font-weight: 700; 
    padding: 05px 20px;

    
}                                         
.link-button1:hover{background-image: linear-gradient(#0b73fc,rgb(0, 247, 255));
    
}  



                                 /*=================All Euros highlight End
                                          ===========================================*/




                       /*---======================   footer
                                            ========================----*/
.footer-image img{
 width: 362.1px;
 height: 70px;
                                               
}
                                            
.footer-content{
text-align: center;
background-color: white;
padding-bottom: 53px;
padding-top: 20px;
                                            
}

                                    /*===============Media Queries 
                                                     =============================*/  

@media only screen and (max-width:688px) {
    header{
        background-color: #2D25A0;
       padding-bottom: 80px;
       
    }
    nav{
       
        
        font-size: 16px;
        font-weight: 500;
      
         margin: 10px;
        margin-top: 20px;
        
       
        
    }
    
    nav a{
        display: none;
        text-decoration: none;
        color: white;
        margin: 5px;
        font-family: 'Poppins', sans-serif;
    }
    .login-button{
        background-color: #E02C6D;
        padding: 15px 15px;
       
    }
    .button{
        display: block;
        font-size: 16px;
       
      
    }
    /*------------------------------/
     --===========Main  section--            
/------------------------------*/

.cupa-america-football{
    width: 100%;
    padding-left: 20px;
}
.flex-section{
    display: block;
   
}
.cupa-america-football img{
     margin-top: 80px;
     width: 329px;
     height: 259.17px;
     left: 344px;
     top: 374px;
  
}
.font-big{
    font-size:  44px;
    font-weight: 700;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    width: 80%;
}
.link-button{
    text-decoration: none;
    color: white;
}
.link-button:hover{background-image: linear-gradient(#fcbc0b,red);

}
.buttto-text{
    margin: 5px;
}

/*---------------------------/
        main section style
/---------------------------*/
.conteinar{
    width: 100%;
   
   
}
.players{
    grid-template-columns: repeat(1,1fr);
}
main{
     display: block;
}